.jokeHistory {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accentColor);
  color: white;
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
  padding: 2rem;
  width: 90vw;
  max-width: 800px;
  height: 100vh;
  top: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0.99;
  transform: translateX(100vw);
  transition: transform 150ms ease-in-out;
}

.jokeHistory.open {
  transform: translateX(0);
}

.closeBtn {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-top: -15px;
  margin-right: -10px;
  background-color: white;
  color: var(--accentColor);
  font-size: 2rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.jokeHistory h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.jokeHistory li {
  border-bottom: 1px solid grey;
  padding: 1.5rem 0;
}

.jokeHistory li:last-child {
  border-bottom: none;
}
