.jokeHistory {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accentColor);
  color: white;
  border-radius: var(--borderRadius);
  padding: 2rem;
  width: 80vw;
  height: 100vh;
  right: 0;
  overflow: scroll;
}

.jokeHistory li {
  border-bottom: 1px solid grey;
  padding: 1.5rem 0;
}
