.jokeHistory {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accentColor);
  color: white;
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
  padding: 2rem 2rem 7rem 2rem;
  width: 90vw;
  max-width: 800px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(100vw);
  transition: transform 150ms ease-in-out;
}

.jokeHistory.open {
  transform: translateX(0);
}

.closeBtn {
  display: grid;
  place-content: center;
  align-self: flex-end;
  background-color: white;
  color: var(--accentColor);
  font-size: 2rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.jokeHistory h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
  line-height: 1.1;
}

.jokeHistory ul {
  padding-left: 1rem;
}

.jokeHistory li {
  border-bottom: 1px solid grey;
  padding: 1.5rem 0;
}

.jokeHistory li:last-child {
  border-bottom: none;
}

.clearBtn {
  background-color: white;
  color: var(--accentColor);
  padding: 0.75rem 2rem;
  font-weight: bold;
  border-radius: var(--borderRadius);
  margin-top: 2rem;
  transition: 150ms linear;
}

.clearBtn:hover {
  filter: drop-shadow(2px 3px 0px rgba(0 0 0 / 30%));
}
