.jokeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 80vw;
  max-width: 625px;
  margin: auto;
}

.jokeContainer h1 {
  line-height: 1.35;
  font-size: 1.75rem;
}
