.jokeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 650px;
  margin: auto;
  padding: 0 8vw;
}

.jokeContainer h1 {
  line-height: 1.35;
  font-size: clamp(1rem, 6vw, 1.75rem);
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .jokeContainer {
    min-height: 125px;
  }
}
