.jokeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.jokeContainer h1 {
  line-height: 1.35;
  font-size: 1.75rem;
  width: fit-content;
  max-width: 60ch;
}
