.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: auto;
  aspect-ratio: 1/1;
  background-image: url('../../assets/btn-color.svg');
  background-repeat: no-repeat;
  background-position: 45% 70%;
  background-size: 85%;
}

.logoText {
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(3px 3px 5px rgba(0 0 0 / 30%));
  animation: squeeze 1200ms ease-in;
}

@keyframes squeeze {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.laughing {
  animation: rotate 400ms ease-in-out 2;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.dad1,
.dad2 {
  position: absolute;
  height: 90%;
  object-fit: contain;
  top: -8%;
}

.dad1 {
  left: 15%;
}

.dad2 {
  left: 45%;
  animation-delay: 200ms;
}

.dad3 {
  position: absolute;
  width: 80%;
  object-fit: contain;
  bottom: -15px;
  animation-delay: 100ms;
}

.historyBtn {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 2rem;
  right: 2rem;
  transition: transform ease-in-out 200ms;
}

.historyBtn:hover {
  transform: rotate(-25deg);
}
