@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
  --textColor: #000;
  --accentColor: #754799;
  --borderRadius: 50px;
  --radialGradient: radial-gradient(
    206.18% 206.18% at 84.95% 7.59%,
    #00e1ff 0%,
    #00dafb 12%,
    #00c5ee 29%,
    #00a3da 51%,
    #0075be 75%,
    #003c9c 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
  overflow-wrap: break-word;
}

p {
  max-width: 60ch;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: -webkit-fill-available;
}
